@font-face {
  font-family: 'common-icons';
  src: url('/assets/fonts/common-icons/common-icons.eot');
  src: url('/assets/fonts/common-icons/common-icons.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/common-icons/common-icons.woff') format('woff'),
    url('/assets/fonts/common-icons/common-icons.ttf') format('truetype'),
    url('/assets/fonts/common-icons/common-icons.svg#common-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'common-icons' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'common-icons' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
