<!DOCTYPE html>
<html lang="fr">
	<head>
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">

		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			Moocademy |
			{% block title %}{% endblock %}
		</title>

		<link
		rel="stylesheet" href="/assets/css/main.css">
		{#  #}
		{% block css %}{% endblock %}
		{#  #}
		<script src="/assets/js/main.js" defer></script>
		{% block js %}{% endblock %}
	</head>
	<body>
		<div class="container">
			{{ include('includes/header.html.twig') }}
			<main>
				<div class="flashes">
					{% for label, flashes in app.flashes %}
						{% for flash in flashes %}
							<div class="flash {{label}}">
								{{flash}}
							</div>
						{% endfor %}
					{% endfor %}
				</div>
				{% block main %}{% endblock %}
			</main>
			{{ include('includes/footer.html.twig') }}
		</div>
	</body>
</html>
