{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block main %}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button>S'inscrire</button>
	{{ form_end(form) }}
{% endblock %}
